<table style="width: 100%; color: rgb(100, 100, 100); padding: 30px; text-align: center; background-color: rgb(240, 240, 240); border-top: solid 1px rgb(180, 180, 180); box-shadow: 0px 0px 5px 0px rgb(150, 150, 150);">
    <tbody>
        <tr>
            <td style="padding-bottom: 30px; padding-top: 20px;">
                <a 
                    style="text-decoration: none; padding: 0px 10px;"
                    href="https://www.linkedin.com/company/unaffi/" 
                    target="_blank"
                >
                    <img
                        style="height: 30px;"
                        src="cid:footer_linkedin"
                        alt="linkedin"
                    />
                </a>
                <a 
                    style="text-decoration: none; padding: 0px 10px;"
                    href="https://www.instagram.com/unaffiptyltd/" 
                    target="_blank"
                >
                    <img
                        style="height: 30px;"
                        src="cid:footer_instagram"
                        alt="instagram"
                    />
                </a>
                <a
                    style="text-decoration: none; padding: 0px 10px;"
                    href="https://www.facebook.com/Unaffi-108081178117474" 
                    target="_blank"
                >
                    <img
                        style="height: 30px;"
                        src="cid:footer_facebook"
                        alt="facebook"
                    />
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 30px;">© 2022 Test Company PTY LTD | All Rights Reserved</td>
        </tr>
        <tr>
            <td style="padding-bottom: 30px;">
                <a href="mailto: info@testcompany.com">info@testcompany.com</a> - <a href="mailto: support@testcompany.com">support@testcompany.com</a>
            </td>
        </tr>
    </tbody>
</table>