<div style="background: #fff;">
    <div style="max-width: 100%; margin: 0px auto; position: relative;">
        <table style="width: 100%; background-color: rgb(195, 95, 55); min-height: 150px;" border="0" cellspacing="0" cellpadding="0" align="center">
        </table>
    </div>
</div>